.NavBar {
    background-color: #f0efeb;
    display:flex;
    justify-content: center;
    
}

.listaMenu {
    list-style: none;
    padding: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
    
}
