.botonesContador {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 2px;
    margin: 1%;
    width: 10%;
    height: 35%;
    margin-top: 10%;
}

.botonesContador:hover {
    background-color: #4CAF50; 
    color: white;
}

.contador {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-left: 40%;
}

.btn-agregar {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-top: 10%;
    background-color: #f0efeb;
    outline: none;
    border: solid #cb997e;
    cursor: pointer;
}